* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html,
body {
    margin: 0;
}

.header {
    margin-top: 30px;
}

.wrapper {
    margin: 0 30px;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: none;
    list-style: none;
    gap: 28px;
}

.header__list-item {
    color: #555555;
}

.header__list-item-mod {
    color: #FF3998;
}

.hero {
    position: relative;
    overflow: hidden;
    margin-right: 0;
}

.hero__text {
    padding-top: 40px;
    width: 288px;
}

.hero__status {
    font-size: 16px;
    line-height: 19px;
    color: #FF3998;
}

.hero__title {
    margin: 0;
    font-weight: 900;
    font-size: 48px;
}

.hero__paragraph {
    color: #555555;
    margin-bottom: 20px;
}

.hero__button-container {
    width: 150px;
    background-image: url(/assets/background.svg);
    background-size: cover;
    border-radius: 50px;
    padding: 2px;
}

.hero__button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 50px;
    text-align: center;
    width: 100%;
    padding: 15px;
    font-weight: bold;
}

.hero__button:hover {
    color: #555555;
}

.hero__image {
    position: absolute;
    bottom: 85px;
    left: 200px;
}

.hero__nft {
    height: 278px;
}

.upsell {
    background-image: url(/assets/background.svg);
    background-size: cover;
    padding: 50px 20px 20px 20px;
    margin-top: 50px;
    width: 100%;
    border-radius: 10px;
}

.upsell__container {
    margin: 0;
}

.upsell__title {
    font-weight: 500;
    font-size: 40px;

}

.press {
    width: 100%;
    padding: 40px 0 40px 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 44px;
    row-gap: 15px;
    align-items: center;
}

.press__logo {
    width: calc(50% - 22px);
    min-height: 40px;
}

.press__logo:nth-child(1) {
    overflow: hidden;
}

.press__logo:nth-child(4) {
    display: none;
}

.showcase {
    margin-bottom: 40px;
}

.showcase__title {
    font-size: 40px;
    font-weight: 500;
}

.showcase__text {
    color: #555555;
    margin-bottom: 40px;
}

.showcase__link {
    color: #555555;
}

.showcase__container {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    padding: 10px;
    overflow-x: scroll;
}

.card {
    background-color: #EEEEEE;
    border-radius: 15px;
}

.card__text {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.card__section-1,
.card__section-2,
.card__section-3 {
    flex-shrink: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__section-1 p:nth-child(1) {
    color: #FF8139;
}

.card__section-1 p:nth-child(2),
.card__section-3 p {
    color: #777777;
}

.card__section-2 p:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 5px;
}

.card__text p {
    margin: 10px;
}

.card__section-2>p {
    text-align: end;
}

.footer {
    position: relative;
    overflow: hidden;
    margin-right: 0;
}

.footer__text {
    max-width: 50%;
    margin: 60px 0;
}

.footer__image {
    position: absolute;
    left: 170px;
    top: 105px;
}

.footer__nft {
    height: 467px;
}

.footer__container {
    padding-top: 30px;
    border-top: 2px solid rgba(128, 128, 128, 0.2);
}

.footer__paragraph {
    color: #555555;
    font-size: 20px;
}

.footer__list {
    list-style: none;
    display: flex;
    gap: 16px;
    padding: 0;
    margin-top: 30px;
}

.footer__list-item {
    color: #999999;
}

.footer__icon {
    height: 18px;
    color: #999999;

}

.footer-right * {
    color: #555555;
}

.footer-right h4 {
    font-size: 16px;
}

.footer-right p {
    font-size: 20px;
}

.footer-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.footer__bottom {
    margin-top: 30px;
    margin-bottom: 80px; 
}

.footer__bottom span {
    color: #999999;
    font-size: 20px;
    font-weight: 400;
}

.footer__bottom span:nth-child(2) {
    display: none;
}


@media screen and (min-width: 768px) {
    .wrapper {
        margin: 0 50px;
    }

    .header__menu {
        display: none;
    }

    .header__list {
        display: flex;
    }

    .hero {
        display: flex;
        align-items: center;
        margin: 0 0 0 50px;
    }

    .hero__text {
        padding: 0;
        flex: 1;
    }

    .hero__title {
        font-size: 96px;
    }

    .hero__paragraph {
        color: #555555;
        min-width: 65%;
    }

    .hero__image {
        position: static;
        flex: 1;
    }

    .hero__nft {
        height: 100%;
        text-align: center;
    }

    .upsell {
        background-image: none;
        padding: 0;
    }

    .upsell__container {
        background-image: url(/assets/background.svg);
        background-size: cover;
        padding: 100px 50px 40px 50px;
        border-radius: 10px;
    }

    .press {
        padding: 80px 0 80px 0;
        justify-content: space-between;
    }

    .press__logo {
        width: calc(20% - 42px);
        text-align: center;
    }

    .press__logo:nth-child(4) {
        display: initial;
    }

    .footer__container {
        border: none;
        padding: 0;
    }

    .footer {
        display: flex;
        align-items: center;
        padding-top: 30px;
        border-top: 2px solid rgba(128, 128, 128, 0.2);
    }

    .footer__image {
        text-align: center;
        position: static;
        flex: 1;
    }

    .footer__nft {
        height: 80%;
        text-align: center;
        position: absolute;
        bottom: 0px;
    }

    .footer__logo {
        padding-top: 30px;
    }

    .footer__container .wrapper {
        padding-top: 30px;
        border-top: 2px solid rgba(128, 128, 128, 0.2);
    }

    .footer-main {
        display: flex;
        align-items: center;
        margin-bottom: 100px;
    }

    .footer-right {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        flex: 1;
    }

    .footer-left {
        flex: 1;
    }

    .footer__bottom {
        display: flex;
        justify-content: space-between;
    }

    .footer__bottom span:nth-child(2) {
        display: initial;
    }
}